@using ProdmasterSalaryService.ViewModels.Account
@model ChangePasswordModel
<h2 class="mb-3">Смена пароля</h2>

<form asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="OldPassword"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" asp-for="OldPassword" />
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>
        <label asp-for="NewPassword"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" asp-for="NewPassword" />
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <label asp-for="ConfirmNewPassword"></label><br />
        <div class="form-group mb-3">
            <input class="form-control" asp-for="ConfirmNewPassword" />
            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div>
            <input type="submit" value="Подтвердить" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
